body {
  margin: 0;
  background-color: #708a96;
}

h2, h3 {
  text-align: center;
}

meter {
  width: 80%;
}

/******************************************
*****************ID Values
******************************************/

#game-container {
  align-items: center;
  background-color: #5cbc8c;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 75%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#player-0 {
  background-color: #e4e4e4;
  width: 40%;
  margin-right: 50px;
  margin-top: 45px;
  margin-left: 40px;
}

#player-1 {
  background-color: #e4e4e4;
  width: 40%;
  margin-top: 45px;
  margin-right: 40px;
}

#health-0 {
}

#reset {
  display: block;
  margin: 0;
}

#shield-current-0 

}

#strength-current-0{

}

#shield-current-1 {

}

#strength-current-1 {

}


/**********************
*******class attributes
********************/

.circle-avatar {
  background-color: #16a085;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  min-width: 0;
  overflow: hidden;
}

.activePlayer {
  box-shadow: -1px 0px 8px -1px #18ffff;
  background-color: #fffdf9 !important;
}

.robot {
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.winner h2 {
  color: red;
  font-weight: 300;
}

.winner {
  background-color: white !important;
  box-shadow: 1px 2px 3px 4px black;
}

#health-0,
#health-1 {
  text-align: center;
}

.active-buff {



}

.icon-active-buff {
  height: 40px;
  width: 40px; 
  flex-direction: row;
  display: block;
  margin-left: auto;
  margin-right: auto; 


}
.inactiveBuff {
  opacity: 0.1;
}

.buff {
  width: 4rem;
  height: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none; 
}



/******************
**** Buttons
******/

.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 225px;
  margin-bottom: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: ;
  color: #ffffff;
  font-family: monospace;
  font-size: 20px;
  font-weight: 300;
  padding: 25px;
  background-color: #3ab397;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;
  border: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  border: outset #16a085 0px;
  background: #06956d;
  background-image: -webkit-linear-gradient(top, #06956d, #3ab397);
  background-image: -moz-linear-gradient(top, #06956d, #3ab397);
  background-image: -ms-linear-gradient(top, #06956d, #3ab397);
  background-image: -o-linear-gradient(top, #06956d, #3ab397);
  background-image: linear-gradient(to bottom, #06956d, #3ab397);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
